@charset "UTF-8";
html {
    font-size: 15px;
}

body {
    background: transparent;
}

.precarga {
    background: url(../images/loading.gif)transparent center no-repeat;
    width: 140px;
    height: 120px;
    
}

.precarga img {
    border: 0;
}

.bienvenidos {
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.encabezado {
    background: #7b241c;
    color: #fff;
    padding: .5rem 0;
    transition: all .5s ease;
}


/* Efecto hover a la cabezera animada*/

.encabezado.fondo-cabezera {
    background: #c3a74a;
    padding: 1rem 0;
}

.encabezado .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.encabezado a {
    text-decoration: none;
}

.encabezado .logotipo span {
    margin-left: 1.5rem;
    color: #fff;
}

.encabezado .logotipo img {
    width: 50px;
    height: 50px;
}

.boton-menu {
    border: 0;
    cursor: pointer;
    font-size: 1.5rem;
    margin: 0;
    margin-left: auto;
    padding: 0 .5rem;
    background: transparent;
    color: #fff;
}

.boton-menu:focus {
    outline: 0;
}

#menu-hamburguesa {
    flex: 1 1 100%;
}

#menu-hamburguesa ul {
    padding: 0;
    list-style: none;
    margin: 1rem 0 0 0;
}

#menu-hamburguesa ul a {
    display: block;
    padding: .5rem 0;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    border-top: 1px solid #fff;
    text-decoration: none;
}

#menu-hamburguesa ul a:hover,
#menu-hamburguesa ul li.active a {
    color: #ffffff;
}


/*=================================
carousel
=================================*/

.img-carousel {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    min-height: 100%;
}

.img-carousel .carousel-inner img {
    filter: brightness(40%);
}


/*===================================
Historia bar
====================================*/

.historia-bar {
    margin-top: 2rem;
    //background: url(../images/banner.jpg);
    background-attachment: fixed !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}

.historia-bar p {
    text-align: justify;
    color: #000;
}


/*================================
Seccion botanas-carousel
=================================*/

.botanas-carousel {
    background: goldenrod;
}

.botanas-carousel h3 {
    color: #fff;
    margin-top: 1rem;
    margin-bottom: 1.4rem;
}

#botanas a {
    text-decoration: none;
}

#botanas a h4 {
    font-size: 1rem;
    text-align: center;
    color: black;
    margin-bottom: 2rem;
}

#botanas .owl-carousel .owl-item img {
    width: 100%;
    height: 10rem;
}


/*====================================
ubicacion
======================================*/

.ubicacion {
    height: 100%vh;
}

.ubicacion h3 {
    margin-top: 1rem;
    margin-bottom: 1.4rem;
}

.ubicacion iframe {
    height: 425px;
    width: 100%;
}

.ubicacion ul {
    padding: 0;
    list-style: none;
    margin: 1rem 0 0 0;
    display: flex;
}

.ubicacion ul a {
    text-align: center;
    color: #0434ff;
    text-decoration: none;
    flex: 1 1 40px;
}

.ubicacion ul span {
    margin-left: 1rem;
}

.icons {
    margin: auto;
}


/*=======================================
Formulario de contacto
========================================*/

.formulario-contacto {
    background: #262323;
}

.formulario-contacto h4 {
    margin-top: 1.5rem;
    color: #fff;
}

.formulario-contacto label {
    color: #fff;
    font-size: 20px;
}

.col-md-8 {
    color: red;
}


/*==================================
Pie de pagina
====================================*/

.pie-pagina {
    background: #7b241c;
    color: #fff;
    text-align: center;
    font-size: 1rem;
}

.pie-pagina a span {
    color: #1A96D4;
}

.pie-pagina p {
    margin-top: 1rem;
}

.pie-pagina a {
    text-decoration: none;
    color: #fff;
}

.pie-pagina img {
    margin-bottom: .5rem;
}

.btn-primary {
    color: #fff;
    background-color: goldenrod;
    border-color: goldenrod;
}

.btn-primary:hover {
    color: #fff;
    background-color: brown;
    border-color: brown;
}

.btn-info {
    color: #fff;
    background-color: goldenrod;
    border-color: goldenrod;
}

.btn-info:hover {
    color: #fff;
    background-color: brown;
    border-color: brown;
}


/*----------------------------------
Bóton subir
----------------------------------*/

.arrow-up {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: none;
    font-size: 3rem;
    color: red;
    text-decoration: none;
    z-index: 99999;
    line-height: 0;
    transition: all .5s ease;
}

.arrow-up:hover,
.arrow-up:focus {
    outline: 9px;
    text-decoration: none;
}


/*----------------------------------
Media Querys
----------------------------------*/

@media all and (max-width: 360px) {

    .img-carousel .carousel-inner > img {
        width: auto;
    }

    .historia-bar {
        flex-direction: column;
    }

    .historia-bar h2 {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
    
    #botanas h3,
    #ubicacion h3,
    #contacto h4{
        font-size: 1.5rem;
    }
    
    .historia-bar p {
        font-size: 1rem;
    }
    
    #contacto label {
        font-size: 14px;
    }
    
    


}

@media (min-width: 768px) {
    #menu-hamburguesa {
        height: auto;
        display: block;
        flex: 0 1 auto;
        margin-left: auto;
        order: 1;
    }
    #menu-hamburguesa ul {
        display: flex;
        margin: 0 0 0 0;
    }
    #menu-hamburguesa ul li a {
        padding: .8rem;
        text-transform: capitalize;
        margin: 0 .3rem;
        border-top: 0px;
        transition: all .5s ease;
    }

    #menu-hamburguesa ul li a:hover {
        border-bottom: 1px solid #fff;
    }
}

@media (min-width: 992px) {

    /*======================

    Marcos Historia

    ======================*/

    .marco:before {
        top: -2rem;
        left: 25.6rem;
        width: 25rem;
        height: 1.5rem;
        border: 0.16666667rem solid #0d1bc1;
        border-bottom: none;
    }
    .marco:before {
        content: "";
        position: absolute;
    }
    .marco:after {
        position: absolute;
    }
    .marco:after {
        content: '';
        top: 3rem;
        left: 25.6rem;
        width: 25rem;
        height: 1.5rem;
        border: 0.16666667rem solid #0d1bc1;
        border-top: none;
    }


    /*======================

    Marcos botanas

    ======================*/

    .marco-botanas:before {
        content: "";
        position: absolute;
        left: 25.6rem;
        border: 0.16666667rem solid #0c0c0d;
        border-bottom: none;
        height: 1.5rem;
        width: 25.5rem;
        top: 5rem;
    }

    .marco-botanas:after {
        content: '';
        position: absolute;
        left: 25.6rem;
        border: 0.16666667rem solid #0c0c0d;
        border-top: none;
        height: 1.5rem;
        width: 25.5rem;
        top: 16.2rem;
    }

    .historia-bar h2 {
        color: #fd4a08;
        margin-left: 2.7rem;
        letter-spacing: 3rem;
    }

    .historia-bar p {
        margin-top: 3rem;
    }

    .botanas-carousel h3,
    .ubicacion h3,
    .formulario-contacto h4{
        color: #fd4a08;
        letter-spacing: .2rem;
    }

    #botanas .owl-nav {
        margin-top: 2rem;
    }

}